<div class="container">
  <button (click)="orderLaunches( asc )">
    ASC
  </button>
  <button (click)="orderLaunches( desc )">
    DESC
  </button>
<app-table
[columnTitles]="columnTitles"
[tableData]="lunches"
[columns]="columns"
(emitData)="onLaunch($event)"
>
</app-table>
  <ngb-pagination class="d-flex justify-content-center"
      [collectionSize]="91"
      [(page)]="currentPage"
      [maxSize]="maxSize"
      [pageSize]="pageSize"
      [rotate]="rotate"
      [boundaryLinks]="boundaryLinks"
      (pageChange)="pageChange()"
      aria-label="Pagination"
      >
  </ngb-pagination>
</div>
