<div class="container">
  <button (click)="orderLaunches('asc')">
    ASC
  </button>
  <button (click)="orderLaunches('desc')">
    DESC
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let col of columnTitles">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="" *ngFor="let launch of lunches" app-launch [columns]="columns" [launch]="launch">
      </tr>
    <tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center"
      [collectionSize]="91"
      [(page)]="currentPage"
      [maxSize]="maxSize"
      [pageSize]="pageSize"
      [rotate]="rotate"
      [boundaryLinks]="boundaryLinks"
      (pageChange)="pageChange()"
      aria-label="Pagination"
      >
  </ngb-pagination>
</div>
